.social {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  &__item {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    & svg {
      width: 4rem;
      height: 4rem;
    }
    @include responsive(md) {
      width: 6rem;
      height: 6rem;
      margin: 2rem;
      & svg {
        width: 6rem;
        height: 6rem;
      }
    }
    @include responsive(xxl) {
      width: 8rem;
      height: 8rem;
      margin: 2rem;
      & svg {
        width: 8rem;
        height: 8rem;
      }
    }
  }
}
